include data/train_hexamer_table.csv
include data/train_ss_table_k1.csv
include data/train_ss_table_k2.csv
include data/train_ss_table_k3.csv
include data/train_ss_table_k4.csv
include data/train_ss_table_k5.csv
include data/imputer_SIF_PF.pkl
include data/scaler_SIF_PF.pkl
include data/XGB_model_SIF_PF.pkl
include data/imputer_SIF_PF_SBF.pkl
include data/scaler_SIF_PF_SBF.pkl
include data/XGB_model_SIF_PF_SBF.pkl
include test/human_test.fasta
Include test/mouse_test.fasta
include README.md
include LICENSE

